@inject ILogger<FileForm> Logger

<EditForm Model="Model" OnSubmit="Submit">
    
    <InputText @bind-Value="Model!.Id"/>
    
    <button type="submit">Submit</button>
    
</EditForm>

@code {
    public Fileform? Model { get; set; }

    protected override void OnInitialized() => Model ??= new();

    private void Submit()
    {
        Logger.LogInformation("Model.Id = {Id}", Model?.Id);
    }

    public class Fileform
    {
        public string? Id { get; set; }
    }
}