@page "/counter"

<h1>Counter</h1>

<Divider Style="@Style">
    <div>------------</div>
</Divider>

<button @onclick="ShowDialog">Open Modal</button>

<Divider Style="@Style">
    <div>------------</div>
</Divider>

<ModalDialog @ref="_dialog" OnClose="ClosDialog">
    <BodyContent>
        <div>组件内容</div>
    </BodyContent>
</ModalDialog>


@code {
    private ModalDialog _dialog = new ModalDialog();

    private const string Style = "display: block; height: 30px; color:green;";

    private void ShowDialog()
    {
        _dialog.IsVisible = true;
        StateHasChanged();
    }

    private Task ClosDialog()
    {
        _dialog.IsVisible = false;
        return Task.CompletedTask;
    }
}
